{% extends 'base.html.twig' %}

{% block title %}
    Page d'inscription
{% endblock %}

{% block body %}

<div class="container mt-3">
    <div class="row">
        <div class="card">
            <div class="card-header">
                <h3>Formulaire d'inscription</h3>
            </div>

            <div class="card-body">
            {{ form_start(registrationForm) }}
                <div class="row">
                    <div class="col-12 col-md-6">
                        {{ form_row(registrationForm.lastName) }}
                    </div>

                    <div class="col-12 col-md-6">
                        {{ form_row(registrationForm.firstName) }}
                    </div>

                    <div class="col-12 col-md-6">
                        {{ form_row(registrationForm.email) }}
                    </div>

                    <div class="col-12 col-md-6">
                        {{ form_row(registrationForm.phoneNumber) }}
                    </div>

                    <div class="col-12 col-md-6">
                        {{ form_row(registrationForm.country) }}
                    </div>

                    <div class="col-12 col-md-6">
                        {{ form_row(registrationForm.city) }}
                    </div>

                    <div class="col-12 col-md-6">
                        {{ form_row(registrationForm.postalCode) }}
                    </div>

                    <div class="col-12 col-md-6">
                        {{ form_row(registrationForm.street) }}
                    </div>

                    <div class="col-12 col-md-6">
                        {{ form_row(registrationForm.plainPassword.first) }}
                    </div>
                    <div class="col-12 col-md-6">
                        {{ form_row(registrationForm.plainPassword.second) }}
                    </div>

                </div>
                    <button class="btn btn-primary mt3" type="submit">Enregistrer</button>
            {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>
</div>

{% endblock %}
