<a href="{{ path('show_product',{ 'slug' : product.slug }) }}" class="aProductCard">
    <div class="card productCard">
        <img
                {% if product.imageUrl is same as null %}
                src="{{ asset('images/image_defaut.jpg') }}" alt="image catégorie"
                    {% else %}
                src="{{ product.imageUrl }}"
                    {% endif %}
                    alt="{{ product.name }}"
                    class="img-fluid"
        />
        <div class="card-body productCardBody">
            <p class="card-title">{{ product.name }}</p>
            <p class="priceProductCard">{{ product.price | amount }} </p>
        </div>
    </div>
</a>