{% extends "admin/base_admin.html.twig" %}

{% block body %}

<div class="adminPage">

    <div class="row">
        <div class="menuTopAdmin">
            <div class="col-12">
                <h1>Administration</h1>
            </div>
        </div>
    </div>

    <div class="row divHomePageAdmin">
        {% include "admin/shared/_sidebar_admin.html.twig" %}
        <div class="col-9 mt-4">
            {% include "admin/shared/_messages_flash.html.twig" %}
            <div class="col-12">
                <div class="card">
                    <div class="card-header d-flex align-items-center justify-content-between">
                        <h3>Les produits</h3>
                         <a class="btn btn-primary" href={{ path('create_product') }}>
                            <i class="fas fa-plus"></i> Créer
                        </a>
                    </div>
                    <div class="card-body">
                        {% if products | length > 0 %}
                            {{ knp_pagination_render(products) }}
                            <div class="table-responsive">
                             <table class="table table-hover">
                                <thead>
                                    <th>Nom</th>
                                    <th>Prix</th>
                                    <th>Catégorie</th>
                                </thead>
                                <tbody>
                                    {% for product in products %}
                                        <tr>
                                            <td>
                                            <div class="d-flex align-items-center imageTable">
                                            {% if product.imageUrl is same as null %}
                                                <img src="{{ asset('images/image_defaut.jpg') }}" alt="image produit" />
                                            {% else %}
                                                <img src="{{ asset( product.imageUrl ) }}" alt="image produit" />
                                            {% endif %}
                                                <p>{{ product.name }}</p>
                                            </div>
                                            </td>
                                            <td>
                                                <p>{{ product.price | amount}}</p>
                                            </td>
                                            <td class="parametreTd">
                                        {% if product.category is not same as null %}
                                                <p>{{ product.category.name }}</p>
                                                {% else %}
                                                     <p>Aucune</p>
                                            {% endif %}
                                            </td>
                                            <td>
                                            <a class="btn btn-sm btn-info btnTable" href={{ path('show_product',{ 'slug' : product.slug }) }}><i class="fas fa-eye"></i> Voir</a>
                                            </td>
                                            <td>
                                            <a class="btn btn-sm btn-info btnTable" href= {{ path('edit_product',{ 'id' : product.id }) }} ><i class="fas fa-pen"></i> Modifier</a>
                                            </td>
                                            <td>
                                            <a class="btn btn-sm btn-danger btnTable" href={{ path('product_remove',{ 'id' : product.id }) }}><i class="fas fa-trash"></i> Supprimer</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            
                            </table>

                            </div>
                           
                            {{ knp_pagination_render(products) }}
                        {% else %}
                            <p class="card-text">Aucune Produit n'est enregistrée.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        
        </div>
    </div>
</div>

{% endblock %}